{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}

<section class="container mx-auto p-4">
    <div class="bg-[#01377d] text-white rounded-lg shadow-lg">
        <div class="pb-0 pt-2 px-4 flex flex-col items-start border-b border-white/10">
            <h1 class="font-bold text-4xl font-roboto">{{page_title}}</h1>
        </div>
        <div class="overflow-visible py-2">
            <div class="bg-white text-black p-4 rounded-md m-4">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Message</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for notification in notifications %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{forloop.counter}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{notification.created_at}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{notification.message}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
