{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="container mx-auto p-4">
    <div class="bg-[#01377d] text-white rounded-lg shadow-lg">
        <div class="pb-0 pt-2 px-4 flex flex-col items-start border-b border-white/10">
            <h1 class="font-bold text-4xl font-roboto">{{page_title}}</h1>
        </div>
        <div class="overflow-visible py-2">
            <div class="bg-white text-black p-4 rounded-md m-4">
                <table class="w-full">
                    <thead class="bg-[#009dd1] text-white">
                        <tr>
                            <th class="p-2">#</th>
                            <th class="p-2">Full Name</th>
                            <th class="p-2">Email</th>
                            <th class="p-2">Gender</th>
                            <th class="p-2">Course</th>
                            <th class="p-2">Avatar</th>
                            <th class="p-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for staff in allStaff %}
                        <tr class="border-b">
                            <td class="p-2">{{ forloop.counter }}</td>
                            <td class="p-2">{{staff.last_name}}, {{staff.first_name}}</td>
                            <td class="p-2">{{staff.email}}</td>
                            <td class="p-2">{{staff.gender}}</td>
                            <td class="p-2">{{staff.staff.course.name}}</td>
                            <td class="p-2">
                                {% if staff.profile_pic == ""  %}
                                No Image
                                {% else %}
                                <img class="h-14 w-14 object-cover rounded-full" src="{{staff.profile_pic}}" alt="Staff avatar">
                                {% endif %}
                            </td>
                            <td class="p-2">
                                <button data-toggle="modal" data-target="#myModal" class="bg-[#009dd1] text-white px-3 py-1 rounded hover:bg-[#01377d] show_notification" value="{{staff.id}}">Send Notification</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<div class="fixed inset-0 flex items-center justify-center z-50 hidden" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   
   <div class = "modal-dialog">
      <div class = "modal-content">
         
         <div class = "modal-header">Send Notification
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
                  &times;
            </button>
            
           
         </div>
         
         <div class = "modal-body">
            <div class="form-group">
                <input type="text" id="message" class='form-control'>
                <input type="hidden"  id="staff_id" class='form-control'>
            </div>
         </div>
         
         <div class = "modal-footer">
            <button type = "button" class = "btn btn-danger" data-dismiss = "modal">
               Close
            </button>
            
            <button type = "button" id='send' class = "btn btn-success send_notification">
               Send Notification
            </button>
         </div>
         
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
  
</div><!-- /.modal -->
{% endblock content %}
{% block custom_js %}
  <script>
      $(".show_notification").click(function(){
          $("#staff_id").val($(this).val())
      })
      $(".send_notification").click(function(){
          var id = $("#staff_id").val()
          var message = $("#message").val()
          sendNotification(id,message);
      })
    function sendNotification(id,message){
        $.ajax({
            url: "{% url 'send_staff_notification' %}",
            type: 'POST',
            data: {
                id: id,
                message:message
            }
        }).done(function (response) {
           
          if (response == 'True'){
            alert("Notification Sent");
            location.reload();
          }else{
            alert("Notification could not be saved. Please try again.");
          }
           
        }).fail(function (response) {
            alert("Error in saving token")
        })

    }

  </script>
{% endblock custom_js %}
