{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="container mx-auto p-4">
    <div class="bg-[#01377d] text-white rounded-lg shadow-lg">
        <div class="pb-0 pt-2 px-4 flex flex-col items-start border-b border-white/10">
            <h1 class="font-bold text-4xl font-roboto">{{page_title}}</h1>
        </div>
        <div class="overflow-visible py-2">
            <div class="bg-white text-black p-4 rounded-md m-4">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Staff</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Course</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Message</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Sent On</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Replied On</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for feedback in feedbacks %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{forloop.counter}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{feedback.staff}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{feedback.staff.course}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{feedback.feedback}}</td>
                            {% if feedback.reply == "" %}
                            <td class="px-6 py-4 whitespace-nowrap">{{feedback.created_at}}</td>
                            <td class="px-6 py-4 whitespace-nowrap"><span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">Pending Response</span></td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <button data-toggle="modal" data-target="#reply_modal" value="{{feedback.id}}" class="bg-[#009dd1] hover:bg-[#26b170] text-white font-bold py-2 px-4 rounded reply_open_modal">
                                    Reply
                                </button>
                            </td>
                            {% else %}
                            <td class="px-6 py-4 whitespace-nowrap">{{feedback.created_at}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{feedback.updated_at}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{feedback.reply}}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="reply_modal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   
   <div class = "modal-dialog">
      <div class = "modal-content">
         
         <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
                  &times;
            </button>
            
            <h4 class = "modal-title" id = "myModalLabel">
               
            </h4>
         </div>
         
         <div class = "modal-body">
             <input type="hidden"  id="id">
           <p> Reply <span id="reply_name"></span></p>  
           <textarea name="reply_message" id="reply_message" cols="30" rows="10" class="form-control"></textarea>
        </div>
        
        <div class = "modal-footer">
            <button type = "button" class = "btn btn-danger" data-dismiss = "modal">
                Close
            </button>
            
            <button id="reply_btn" class="btn btn-success btn-block">Reply</button>
         
         </div>
         
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
  
</div><!-- /.modal -->
{% endblock content %}
{% block custom_js %}
  <script>
      $(document).ready(function(){
          $(".reply_open_modal").click(function(){
              var id = $(this).val()
              var name = $(this).parents("tr").children("td:eq(1)").text()
              $("#reply_name").text(name)
              $("#id").val(id)
              
              
            })
            
            $("#reply_btn").on("click", function(){
                var id = $("#id").val()
                var reply = $("#reply_message").val()

                $.ajax({
                    url: "{% url 'staff_feedback_message' %}",
                    type:'POST',
                    data:{
                          id:id,
                          reply:reply
                    }
                }).done(function(response){
                    if (response == "True"){
                        alert("Reply Sent")
                        location.reload()
                    }else{
                        alert("Reply Could Not Be Sent")
                    }
                }).fail(function(response){
                    alert("Error Occured. ")
                })
          })
      })
  </script>
{% endblock custom_js %}
