{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="container mx-auto p-4">
    <div class="bg-[#01377d] text-white rounded-lg shadow-lg">
        <div class="pb-0 pt-2 px-4 flex flex-col items-start border-b border-white/10">
            <h1 class="font-bold text-4xl font-roboto">{{page_title}}</h1>
        </div>
        <div class="overflow-visible py-2">
            <div class="bg-white text-black p-4 rounded-md m-4">
                <table class="w-full">
                    <thead class="bg-[#009dd1] text-white">
                        <tr>
                            <th class="p-2">#</th>
                            <th class="p-2">Staff</th>
                            <th class="p-2">Course</th>
                            <th class="p-2">Message</th>
                            <th class="p-2">Leave Date</th>
                            <th class="p-2">Submitted On</th>
                            <th class="p-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for leave in allLeave %}
                        <tr class="border-b">
                            <td class="p-2">{{forloop.counter}}</td>
                            <td class="p-2">{{leave.staff}}</td>
                            <td class="p-2">{{leave.staff.course}}</td>
                            <td class="p-2">{{leave.message}}</td>
                            <td class="p-2">{{leave.date}}</td>
                            <td class="p-2">{{leave.created_at}}</td>
                            <td class="p-2">
                                {% if leave.status == 0 %}
                                <button data-toggle="modal" data-target="#reply_modal" value="{{leave.id}}" class="bg-[#009dd1] text-white px-3 py-1 rounded hover:bg-[#01377d] reply_open_modal">Reply</button>
                                {% elif leave.status == -1 %}
                                <span class="bg-[#7ed348] text-white px-2 py-1 rounded">Rejected</span>
                                {% else %}
                                <span class="bg-[#26b170] text-white px-2 py-1 rounded">Approved</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<div class="fixed inset-0 flex items-center justify-center z-50 hidden" id="reply_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   
   <div class = "modal-dialog">
      <div class = "modal-content">
         
         <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
                  &times;
            </button>
            
            <h4 class = "modal-title" id = "myModalLabel">
               
            </h4>
         </div>
         
         <div class = "modal-body">
             <input type="hidden"  id="id">
           <p> Reply To <span id="reply_name"></span>'s Leave Request</p>  
           <select id="reply_leave_status" class="form-control">
<option value="">-- Select --</option>
<option value="1">Approve</option>
<option value="-1">Reject</option>
           </select>
        </div>
        
        <div class = "modal-footer">
            <button type = "button" class = "btn btn-danger" data-dismiss = "modal">
                Close
            </button>
            
            <button id="reply_btn" class="btn btn-success btn-block">Submit</button>
         
         </div>
         
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
  
</div><!-- /.modal -->
{% endblock content %}
{% block custom_js %}
  <script>
      $(document).ready(function(){
          $(".reply_open_modal").click(function(){
              var id = $(this).val()
              var name = $(this).parents("tr").children("td:eq(1)").text()
              $("#reply_name").text(name)
              $("#id").val(id)
              
              
            })
            
            $("#reply_btn").on("click", function(){
                var id = $("#id").val()
                var status = $("#reply_leave_status").val()
                if (status == '1' || status == '-1'){

    $.ajax({
        url: "{% url 'view_staff_leave' %}",
        type:'POST',
        data:{
              id:id,
              status:status
        }
    }).done(function(response){
        if (response == "True"){
            alert("Leave Response Has Been Saved!")
            location.reload()
        }else{
            alert("Reply Could Not Be Sent")
        }
    }).fail(function(response){
        alert("Error Occured. ")
    })
}else{
    alert("Choose valid response")
}

          })
      })
  </script>
{% endblock custom_js %}
