{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<NextUI.Container fluid>
    <NextUI.Row>
        <NextUI.Col span={12}>
            <NextUI.Card css={{ backgroundColor: '$yaleBlue', color: '$nonPhotoBlue' }}>
                <NextUI.Card.Header>
                    <NextUI.Text h3>{{page_title}}</NextUI.Text>
                </NextUI.Card.Header>
                <NextUI.Card.Body>
                    <NextUI.Table
                        aria-label="Student Feedback Table"
                        css={{
                            height: "auto",
                            minWidth: "100%",
                        }}
                    >
                        <NextUI.Table.Header>
                            <NextUI.Table.Column>#</NextUI.Table.Column>
                            <NextUI.Table.Column>Student</NextUI.Table.Column>
                            <NextUI.Table.Column>Session</NextUI.Table.Column>
                            <NextUI.Table.Column>Message</NextUI.Table.Column>
                            <NextUI.Table.Column>Sent On</NextUI.Table.Column>
                            <NextUI.Table.Column>Replied On</NextUI.Table.Column>
                            <NextUI.Table.Column>Action</NextUI.Table.Column>
                        </NextUI.Table.Header>
                        <NextUI.Table.Body>
                            {% for feedback in feedbacks %}
                                <NextUI.Table.Row key="{{forloop.counter}}">
                                    <NextUI.Table.Cell>{{forloop.counter}}</NextUI.Table.Cell>
                                    <NextUI.Table.Cell>{{feedback.student}}</NextUI.Table.Cell>
                                    <NextUI.Table.Cell>{{feedback.student.session}}</NextUI.Table.Cell>
                                    <NextUI.Table.Cell>{{feedback.feedback}}</NextUI.Table.Cell>
                                    <NextUI.Table.Cell>{{feedback.created_at}}</NextUI.Table.Cell>
                                    <NextUI.Table.Cell>
                                        {% if feedback.reply == "" %}
                                            <NextUI.Badge color="warning">Pending Response</NextUI.Badge>
                                        {% else %}
                                            {{feedback.updated_at}}
                                        {% endif %}
                                    </NextUI.Table.Cell>
                                    <NextUI.Table.Cell>
                                        {% if feedback.reply == "" %}
                                            <NextUI.Button color="success" auto onClick={() => openReplyModal({{feedback.id}})}>
                                                Reply
                                            </NextUI.Button>
                                        {% else %}
                                            {{feedback.reply}}
                                        {% endif %}
                                    </NextUI.Table.Cell>
                                </NextUI.Table.Row>
                            {% endfor %}
                        </NextUI.Table.Body>
                    </NextUI.Table>
                </NextUI.Card.Body>
            </NextUI.Card>
        </NextUI.Col>
    </NextUI.Row>
</NextUI.Container>

<NextUI.Modal closeButton aria-labelledby="modal-title" open={isOpen} onClose={closeHandler}>
   
   <div class = "modal-dialog">
      <div class = "modal-content">
         
         <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
                  &times;
            </button>
            
            <h4 class = "modal-title" id = "myModalLabel">
               
            </h4>
         </div>
         
         <div class = "modal-body">
             <input type="hidden"  id="id">
           <p> Reply <span id="reply_name"></span></p>  
           <textarea name="reply_message" id="reply_message" cols="30" rows="10" class="form-control"></textarea>
        </div>
        
        <div class = "modal-footer">
            <button type = "button" class = "btn btn-danger" data-dismiss = "modal">
                Close
            </button>
            
            <button id="reply_btn" class="btn btn-success btn-block">Reply</button>
         
         </div>
         
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
  
</div><!-- /.modal -->
{% endblock content %}
{% block custom_js %}
  <script>
      $(document).ready(function(){
          $(".reply_open_modal").click(function(){
              var id = $(this).val()
              var name = $(this).parents("tr").children("td:eq(1)").text()
              $("#reply_name").text(name)
              $("#id").val(id)
              
              
            })
            
            $("#reply_btn").on("click", function(){
                var id = $("#id").val()
                var reply = $("#reply_message").val()

                $.ajax({
                    url: "{% url 'student_feedback_message' %}",
                    type:'POST',
                    data:{
                          id:id,
                          reply:reply
                    }
                }).done(function(response){
                    if (response == "True"){
                        alert("Reply Sent")
                        location.reload()
                    }else{
                        alert("Reply Could Not Be Sent")
                    }
                }).fail(function(response){
                    alert("Error Occured. ")
                })
          })
      })
  </script>
{% endblock custom_js %}
