{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4">
        <div class="w-full px-4">
            <div class="bg-yale-blue text-non-photo-blue rounded-lg shadow-lg p-6">
                <div class="mb-4">
                    <h3 class="text-2xl font-bold">{{page_title}}</h3>
                </div>
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-white">
                        <thead class="bg-blue-green text-white">
                            <tr>
                                <th class="py-2 px-4 text-left">#</th>
                                <th class="py-2 px-4 text-left">Student</th>
                                <th class="py-2 px-4 text-left">Session</th>
                                <th class="py-2 px-4 text-left">Message</th>
                                <th class="py-2 px-4 text-left">Sent On</th>
                                <th class="py-2 px-4 text-left">Replied On</th>
                                <th class="py-2 px-4 text-left">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feedback in feedbacks %}
                                <tr class="border-b border-gray-200 hover:bg-gray-100">
                                    <td class="py-2 px-4">{{forloop.counter}}</td>
                                    <td class="py-2 px-4">{{feedback.student}}</td>
                                    <td class="py-2 px-4">{{feedback.student.session}}</td>
                                    <td class="py-2 px-4">{{feedback.feedback}}</td>
                                    <td class="py-2 px-4">{{feedback.created_at}}</td>
                                    <td class="py-2 px-4">
                                        {% if feedback.reply == "" %}
                                            <span class="bg-sgbus-green text-white py-1 px-2 rounded-full text-xs">Pending Response</span>
                                        {% else %}
                                            {{feedback.updated_at}}
                                        {% endif %}
                                    </td>
                                    <td class="py-2 px-4">
                                        {% if feedback.reply == "" %}
                                            <button class="bg-jade text-white py-1 px-3 rounded hover:bg-blue-600" onclick="openReplyModal({{feedback.id}})">
                                                Reply
                                            </button>
                                        {% else %}
                                            {{feedback.reply}}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<NextUI.Modal closeButton aria-labelledby="modal-title" open={isOpen} onClose={closeHandler}>
   
   <div class = "modal-dialog">
      <div class = "modal-content">
         
         <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
                  &times;
            </button>
            
            <h4 class = "modal-title" id = "myModalLabel">
               
            </h4>
         </div>
         
         <div class = "modal-body">
             <input type="hidden"  id="id">
           <p> Reply <span id="reply_name"></span></p>  
           <textarea name="reply_message" id="reply_message" cols="30" rows="10" class="form-control"></textarea>
        </div>
        
        <div class = "modal-footer">
            <button type = "button" class = "btn btn-danger" data-dismiss = "modal">
                Close
            </button>
            
            <button id="reply_btn" class="btn btn-success btn-block">Reply</button>
         
         </div>
         
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
  
</div><!-- /.modal -->
{% endblock content %}
{% block custom_js %}
  <script>
      $(document).ready(function(){
          $(".reply_open_modal").click(function(){
              var id = $(this).val()
              var name = $(this).parents("tr").children("td:eq(1)").text()
              $("#reply_name").text(name)
              $("#id").val(id)
              
              
            })
            
            $("#reply_btn").on("click", function(){
                var id = $("#id").val()
                var reply = $("#reply_message").val()

                $.ajax({
                    url: "{% url 'student_feedback_message' %}",
                    type:'POST',
                    data:{
                          id:id,
                          reply:reply
                    }
                }).done(function(response){
                    if (response == "True"){
                        alert("Reply Sent")
                        location.reload()
                    }else{
                        alert("Reply Could Not Be Sent")
                    }
                }).fail(function(response){
                    alert("Error Occured. ")
                })
          })
      })
  </script>
{% endblock custom_js %}
